<div
  class="d-flex flex-column align-items-center my-4" style="height: 752px; width: 470.4px;"
>


  <div style="margin-bottom: 50px;">
    <div class="card my-4" *ngFor="let item of postList">
      <div class="d-flex flex-row p-2">
        <a routerLink="/profile/{{item.username}}" class="text-decoration-none text-black"
          ><img
            src={{item.userPhoto}}
            alt=""
            width="30"
              height="30"
              class="rounded-circle me-2"
        />
        <strong> {{item.username}}</strong>
      </a>

      </div>
      <img
        src={{item.url}}
        class="card-img-top"
        alt=""
        id="images"
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          {{item.text}}
        </p>
        <p class="card-text">
          <small class="text-muted">{{item.datePost}}</small>
        </p>
      </div>
    </div>


  </div>
</div>
