<div class="d-flex flex-row">
  <app-sidebar
    class="sidenav"
    (newCreateButton)="create($event)"
    [dbRes]="userDb"
    [userProfilePhoto]="profilePhoto"
    (search)="searchModal($event)"
    style="display: block"
  ></app-sidebar>
  <router-outlet class="cards" style="display: block"></router-outlet>
</div>
<div
  class="modal fade"
  id="createModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Upload</span>
          </div>

          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="image"
              accept="image/*"
              (change)="fileSelected($event)"
              value=""
            />
            <label class="custom-file-label" for="inputGroupFile01"
              >Choose file</label
            >
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#createPost"
          (click)="imageUpload()"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade bd-example-modal-lg"
  id="createPost"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">
          Gönderi Oluştur
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body row" [formGroup]="postForm">
        <div class="col-sm">
          <img
            style="width: 100%; height: 100%"
            id="chosen-image"
            src=""
            alt=""
          />
        </div>
        <div class="col-sm">
          <textarea
            name=""
            id=""
            style="width: 100%; height: 100%; border: none"
            placeholder="Açıklama yaz"
            formControlName="postText"
          ></textarea>
        </div>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-toggle="modal"
          data-bs-target="#createModal"
        >
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="imageUpload()">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="searchModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="searchModalCenter"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered"
    role="document"
    [formGroup]="searchForm"
    (change)="searching()"
  >
    <div class="modal-content">
      <div class="modal-header d-flex flex-column">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4>Ara</h4>
        <input
          type="search"
          class="modal-title"
          id="searchModalCenter"
          placeholder="Ara"
          formControlName="searchText"
        />
      </div>
      <div class="modal-body container" *ngFor="let item of searchArray">
        <div class="row">
          <div class="col-2 d-flex justify-content-center align-items-center">
            <a routerLink="" class="text-decoration-none text-black"
              ><img
                [src]="item.userPhoto"
                alt=""
                width="30"
                height="30"
                class="rounded-circle me-2"
              />
            </a>
          </div>

          <div class="col-6 container">
            <div style="height: inherit">
              <p class="text-start m-0">{{ item.username }}</p>
              <p class="text-start m-0">{{ item.name }}</p>
            </div>
          </div>
          <div
            class="col-4 m-0 d-flex justify-content-center align-items-center"
          >
            <div *ngIf="checkFollow(item.username); else notFollow">
              <button
                [id]="item.username"
                (click)="unFollow(item)"
                style="height: 2rem"
                class="btn btn-primary m-0 p-0"
                value=""
              >
                Takibi Bırak
              </button>
            </div>
            <ng-template #notFollow>
              <button
                (click)="follow(item)"
                style="height: 2rem"
                class="btn btn-primary m-0 p-0 px-sm-3"
                value=""
              >
                Takip Et
              </button>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="clickDeneme()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
