<div class="d-flex flex-column" style="overflow-x: hidden">
  <div class="d-grid mt-5">
    <div class="row">
      <div
        class="col-5 d-flex justify-content-center"
        style="min-height: 200px;width: 15rem;"
      >
        <button
          class="bg-white border-0"
          style="width: 150px; height: 150px"
          data-toggle="modal"
          data-target=".bd-example-modal-sm"
        >
          <img
            class="rounded-circle"
            id="profilePhoto"
            style="width: inherit; height: inherit"
            src=""
            alt="profil fotoğrafı"
          />
        </button>
      </div>

      <div class="col-6 me-1" >
        <div class="d-grid container">
          <div class="row mb-2 " style="width: 30rem; height: 5rem;">
            <div class="col-10" >
              <h4 id="profile-name"></h4>
              <h4 id="profile-username"></h4>
            </div>
            <div class="col-2">
              <div *ngIf="profileUid; else notMyProfile" class="d-flex justify-content-end">
              <button
                (click)="textEdit()"
                class="border-0 p-md-0 d-flex justify-content-center align-items-center"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-pencil-square"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                  />
                </svg>
              </button>
            </div>
            </div>

            <ng-template #notMyProfile class="col-5">
              <div *ngIf="isFollowing==true; else notFollow">
                <button style="width: 8rem; height: 2rem;" (click)="unFollow()">Takibi Bırak</button>
              </div>
              <ng-template #notFollow >
                <button style="width: 8rem; height: 2rem;" (click)="follow()">Takip Et</button>
              </ng-template>

            </ng-template>
          </div>
          <div class=" mb-2">
            <button class="mx-sm-4"><p class="mb-0">Takipçi</p><p class="mb-0" id="followers-count">123</p></button>
            <button class="mx-sm-4"><p class="mb-0">Takip</p><p class="mb-0" id="following-count">123</p></button>
          </div>

        </div>

        <div class="row g-0 text-center">
          <div class="col-sm-10 col-md-11">
            <div class="d-flex" [formGroup]="textForm" (ngSubmit)="textArea()">
              <div class="" *ngIf="editText == true; else text">
                <div class="form-group">
                  <textarea
                    class="form-control"
                    id="profile-text"
                    formControlName="profileText"
                    rows="3"
                    cols="30"
                  ></textarea>
                  <div >
                   <button (click)="textArea()">Click</button>

                  </div>

                  <div>

                  </div>
                </div>
              </div>
              <ng-template #text style="width: 100px; height: 20px">
                <p style="height: 7rem" id="text-profile">{{ profileTextValue }}</p>
              </ng-template>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade bd-example-modal-sm"
    tabindex="-1"
    role="dialog"
    aria-labelledby="mySmallModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">
            <h5>Başlık</h5>
          </div>
        </div>

        <div class="modal-body">
          <input class="" type="file" id="profilPhotoInput" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger">
            Mevcut Fotoğrafı Kaldır
          </button>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            (click)="profilPhotoUpload($event)"
          >
            Yükle
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            İptal
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <div class="container">
      <div class="row me-5">
        <div
          class="col-4"
          style="margin-bottom: 3rem"
          *ngFor="let item of profilePosts"
        >
          <div class="">
            <button
              (click)="dialogPost(item)"
              class="border-0 p-xl-0"
              data-toggle="modal"
              data-target=".bd-example-modal-lg"
            >
              <img
                class=" "
                [src]="item.url"
                style="width: 290px; height: 250px"
              />
            </button>

            <div
              class="modal fade bd-example-modal-lg"
              tabindex="-1"
              role="dialog"
              aria-labelledby="myLargeModalLabel"
              aria-hidden="true"
              style="overflow-y: hidden"
            >
              <div class="modal-dialog modal-lg">
                <div class="container">
                  <div class="row">
                    <div class="col-7 p-xl-0">
                      <img
                        id="dialog-post"
                        [src]=""
                        style="
                          min-height: 650px;
                          max-height: 100%;
                          max-width: 100%;
                        "
                        alt=""
                      />
                    </div>
                    <div class="col-5 bg-white">
                      <div class="mb-3">
                        <div class="d-flex flex-row p-2">
                          <a href="#"
                            ><img
                              id="dialog-photo"
                              src=""
                              alt=""
                              width="30"
                              height="30"
                              class="rounded-circle me-2"
                          /></a>
                          <strong id="dialog-user-name"></strong>
                        </div>
                      </div>

                      <div class="" style="height: 30rem">
                        <p id="dialog-text"></p>
                      </div>
                      <div class="" id="post-date"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
